body{
    text-align: center;
    margin-top: 20vh;
}

#label{
    margin-bottom: 5px;
    font-size: larger;
    font-weight: bolder;
    position: relative;
    left: 0;
    bottom: 15px;
}
#myText{
    position: relative;
    width: 150px;
    height: 25px;
}
#myBtn{
    text-align: center;
    font-size: large;
    color: black;
    background-color: rgb(32, 230, 181);
    border: 0px solid;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    position: relative;
    top: 15px;
}
#myBtn:hover{
    background-color: rgb(26, 192, 150);
}
#myBtn:active{
    border: 1px solid;
}